#override_body{
	width: 80%;
	display: block;
	margin: 0 auto;
}

ul#nav_override{
	margin: 2% 0 4% 0;
	font-weight: bold;
}

ul#nav_override a{
	transition: all 0.4s ease 0s;
	outline: 0;
}

#sase_logo_override{
	margin: 5%;
}

#um_logo_override{
	position: relative;
	top: 34px;
	right: 30px;
	margin: 5%;
}

.footer a{
	text-decoration: none;
	color: #AAA;
	transition: all 0.4s ease 0s;
	outline: 0;
}

.footer a:hover{
	color: #428BCA;
}